@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;;
}

fieldset{
    margin-bottom: 1vh;
    padding: 1vh;
    border: 2px solid #31572c;
    border-radius: 10px;
}
legend{
    margin-left: 20px;
    font-size: 25px;
    font-weight: 800;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #386641;
}

.container{
    width: 30vw;
    min-height: 90vh;
    height: auto;
    margin-top: 3vh;
    margin-bottom: 3vh;
    background-color: #588157;
    padding: 2vh;
    border-radius: 10px;
    color: whitesmoke;
}

.container h1{
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
}

.container .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.input-box .input-group{
    text-align: center;
    width: 100%;
}

.buttons{
    text-align: center;
}

button[type="submit"] {
    width: 30%;
    padding: 5px;
    margin: 5px;
    background-color: #31572c;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
button[type="submit"]:hover {
    background-color: #3c6a36;
}
button[type="reset"] {
    width: 30%;
    padding: 5px;
    margin: 5px;
    background-color: #ac271e;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
button[type="reset"]:hover {
    background-color: #e0353a;
}

.input-group #interests{
    width: 20vw;
    height: 15vh;
    padding: 1vh;
    resize: none;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    outline: none;
    color: white;
}

::-webkit-scrollbar {
    width: 5px;
    height: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #588157;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #3a5a40;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #344e41;
  }
  
  ::-webkit-scrollbar-thumb:active {
    background-color: #344e41;
  }

.input-group input[type="text"], input[type="password"], input[type="email"]{
    width: 15vw;
    height: 5vh;
    margin: 1vh;
    padding: 1vh;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    outline: none;
    color: white;
}

.input-group input[type="text"]::placeholder, input[type="password"]::placeholder, input[type="email"]::placeholder{
    color: white;
}

#gender{
    width: 10vw;
    height: 5vh;
    margin: 1vh;
    padding: 1vh;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    outline: none;
    color: white;
}
#gender option{
    background-color: #588157;
    border-radius: 10px;
}

/* Add media queries for different screen sizes */
@media (max-width: 992px) {
    .container {
       width: 80vw;
     }
   
    .input-group input[type="text"],
    .input-group input[type="password"],
    .input-group input[type="email"],
     #gender {
       width: 60vw;
     }

     .input-group #interests{
        width: 70vw;
     }
   }
   
   @media (max-width: 768px) {
    .container {
       width: 90vw;
     }
   
    .input-group input[type="text"],
    .input-group input[type="password"],
    .input-group input[type="email"],
     #gender {
       width: 65vw;
     }

     .input-group #interests{
        width: 80vw;
     }
   }
   
   @media (max-width: 576px) {
    .container {
       width: 80vw;
     }
   
    .input-group input[type="text"],
    .input-group input[type="password"],
    .input-group input[type="email"],
     #gender {
       width: 50vw;
     }

    .input-group #interests{
        width: 60vw;
     }
   }